.custom-searchBtn {
    display: block; /* Equivalent to Tailwind's block */
  }

  @media (min-width: 1026px) {
    .custom-searchBtn {
      display: none; /* Equivalent to Tailwind's md:hidden */
    }
  }

  .custom-srch_input {
    display: none; /* Equivalent to Tailwind's hidden */
  }

  @media (min-width: 768px) {
    .custom-srch_input {
      display: flex; /* Equivalent to Tailwind's md:flex */
    }
  }