.acte {
  color: #fff;
  background-color: #33b0ca;
}
/* .no_access_input  */
 input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #616161;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type="radio"]:checked {
  background-color: #33b0ca;
}
input[type="checkbox"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #33b0ca;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #33b0ca;
  border: none;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  color: white;
  position: absolute;
  top: -6px;
  left: 2px;
  font-size: 14px;
  font-weight: bold;
}


input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* New tab styling */
.premise-translate-wh-24 {
  width: 24px !important;
  height: 24px !important;
}

.ls-textareainput {
  height: 55px !important;
  background-color: #fff !important;
}

.ls-contentbox {
  height: 119px !important;
}

.ls-contenttext {
  font-size: 12px !important;
}

/* Modify scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 19px;
}

::-webkit-scrollbar-thumb {
  background: #33b0ca;
  border-radius: 19px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a94a8;
}

/* @media screen and (max-width: 768px) {
  .ls-textarea {
    z-index: 20 !important;
  }
} */
.text_format{
  word-break: normal;
  overflow-wrap: anywhere !important;
  white-space: pre-wrap;
}